parameters:
    level: 8
    paths:
        - src
        - tests
        - public
        - config
    excludePaths:
        - vendor
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
